body {
  background-image: url('https://images.unsplash.com/photo-1495556650867-99590cea3657?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80')
}

#title {
  color: hotpink;
  font-family: sans-serif;
  text-align: center;
}
